.hidden{
  display: none;
}

#projector {
  overflow: hidden;
  outline: none;
}

#projector:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}

.loader {
  background-image: url("loading.gif-c200");
  background-color: black;
  background-position: 51% 0;
  background-repeat: no-repeat;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.stage-area {
  bottom: 25px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.arrows-area {
  color: white;
  display: flex;
  height: 100px;
  left: 0;
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: 2
}

.right-arrow {
  background-image: url("arrows.png");
  background-position: -38px -37px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 34px;
  margin-right: 25px;
  margin-top: 35px;
  position: absolute;
  right: 0;
  width: 34px;
}

.left-arrow {
  background-image: url("arrows.png");
  background-position: -1px -37px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 34px;
  margin-left: 25px;
  margin-top: 35px;
  width: 34px;
}

.menu-area {
  background: black;
  bottom: 0;
  height: 25px;
  position: absolute;
  width: 100%;

  -webkit-box-shadow: inset 1px 45px 9px -49px rgba(255,200,200,1);
  -moz-box-shadow: inset 1px 45px 9px -49px rgba(255,200,200,1);
  box-shadow: inset 1px 45px 9px -49px rgba(255,200,200,1);
  z-index: 4;
}

.fullscreen {
  background-image: url("fullscreen.png");
  background-position: 6px 6px;
  background-repeat: no-repeat;
  box-shadow: inset 52px 0px 9px -57px rgba(255,200,200,1);
  -webkit-box-shadow: inset 52px 0px 9px -55px rgba(255,200,200,1);
  -moz-box-shadow: inset 52px 0px 9px -58px rgba(255,200,200,1);
  cursor: pointer;
  height: 25px;
  left: auto;
  position: absolute;
  right: 0;
  width: 25px;
}

.exit {
  background-position: 6px -94px;
}

.on {
  height: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
}

.off {
  display: none;
}

.counter {
  color: #aaa;
  font-family: Helvetica;
  font-size: 13px;
  box-shadow: inset -52px 0px 9px -57px rgba(255,200,200,1);
  -webkit-box-shadow: inset -52px 0px 9px -55px rgba(255,200,200,1);
  -moz-box-shadow: inset -52px 0px 9px -58px rgba(255,200,200,1);
  height: 25px;
  position: absolute;
  left: 22px;
  padding-right: 7px;
}

.play-box {
  height: 25px;
  left: 0;
  position: absolute;
  width: 25px
}

.play {
  background-image: url("playpause.png");
  background-position: 0 1px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 13px;
  left: 5px;
  position: absolute;
  top: 7px;
  width: 8px;
}

.stop {
  background-position: 0 -99px;
}

.current, .total {
  position: relative;
  top: 5px;
}
